
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
       <h1>Characters:</h1>
        <h3>Heroes:</h3>
        <ol>
            {{range .Heroes}}
                <li>{{.Name}} - {{.Power}}</li>
            {{end}}
        </ol>
        <h3>Villians:</h3>
        <ol>
            {{range .Villians}}
                <li>{{.Name}} - {{.Motto}}</li>
            {{end}}
        </ol>
       
	</body>
	</html>