
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Predefined Global functions</title>
	</head>
	<body>
        {{if gt .Score1 .Score2}}
            SCORE1 > SCORE2
        {{end}}
        {{if lt .Score1 .Score2}}
            SCORE1 < SCORE2
        {{end}}
        {{if eq .Score1 .Score2}}
            SCORE1 == SCORE2
        {{end}}
        {{if lt .Score1 10}}
            SCORE1 < 10
        {{end}}
	</body>
	</html>